@media (min-width: 875px) {
  .wrapper {
    max-width: 875px;
    display: grid;
    grid-template-columns: 374px 105px 92px 92px 71px 136px;
    grid-template-rows: 60px 51px 48px 73px;
    grid-gap: 1px;
    background-color: var(--pinkish-grey);
    border: 1px solid var(--pinkish-grey);
  }

  .imageWrapper {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: var(--white);
  }

  .recommend {
    position: absolute;
    top: 20px;
    left: 0;

    height: 22px;
    background-color: var(--charcoal-grey);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 6px 0 15px;
    align-items: center;

    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
  }

  .img {
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .titleWrapper {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: var(--silver);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    line-height: 20px;
    color: var(--charcoal-grey);
    letter-spacing: 0.25px;
  }

  .location {
    font-size: 12px;
  }

  .titleYear {
    display: flex;
    flex-direction: row;

    font-size: 16px;
  }

  .title {
    font-weight: bold;
  }

  .year {
    padding: 0 11px;
    letter-spacing: 0.27px;
  }

  .favorite {
    flex-shrink: 0;
    height: 12px;
    width: 14px;
    padding: 0 7px;
  }

  .viewWrapper {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    background-color: var(--silver);

    color: var(--pale-red);
    font-size: 11px;
    font-weight: bold;
  }

  .viewContainer {
    display: flex;
    flex-direction: column;
  }

  .viewCount {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .viewDesc {
    font-weight: normal;
    line-height: 14px;
  }

  .viewHot {
    height: 13px;
    background-color: var(--pale-red);
    border-radius: 1px;
    padding: 0 4px;
    margin-right: 4px;

    vertical-align: middle;
    text-transform: uppercase;
    color: var(--white);
    font-size: 9px;
    line-height: 13px;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .lengthWrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--white);
  }
  .cabinWrapper {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: var(--white);
  }
  .guestWrapper {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: var(--white);
  }

  .key {
    color: var(--charcoal-grey);
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    opacity: 44%;
    text-transform: uppercase;
  }

  .value {
    color: var(--charcoal-grey);
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
  }

  .reviewWrapper {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    background-color: var(--white);
  }
  .descWrapper {
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
  }

  .descRow {
    width: 75%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
  }

  .keyRow {
    width: 25%;
    padding: 0px 10px;
    color: var(--charcoal-grey);
    text-align: left;
    font-size: 10px;
    line-height: 18px;
    opacity: 44%;
    text-transform: uppercase;
  }

  .tagContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }

  .tag {
    font-size: 11px;
    font-weight: 600;
    margin-right: 10px;
    line-height: 20px;
    opacity: 60%;
  }
  .priceWrapper {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    background-color: var(--white);
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 6px;
  }

  .priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px;
  }

  .price {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-weight: bold;
    padding: 0 4px 0 10px;
  }

  .period {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.24px;
    margin-right: 16px;
  }

  .bookingWrapper {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
    background-color: var(--white);
  }
}
